*{
  background-color: black;
  text-align: center;
}

#mainHeader {
  font-family: Veranda;
  font-weight: normal;
  font-size: 50px;
  align-content: center;
  color: White;
}

#guideSection {
  font-family: Veranda;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#guideDescription {
  font-family: Veranda;
  font-weight: 300;
  font-size: 20px;
  color: white;
}
